@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

*{
    box-sizing: border-box;
}

body{
    
    background-image: url(../assets/bg_image.jpg);
    background-color: #001820;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-blend-mode: darken; */
   /* background: rgba(70, 72, 82, 0.1); */
    
}

#logo{
    max-width: 15%;
    height: auto;
    margin-left: 25px;
    margin-top: 10px;
}

.header{
    margin: 25px 25px 25px 25px;
}

.nav{
    float: right;
    font-family: 'Open Sans';
    font-size: 1vw;
    color: #ffffff;
}

.underline{
    text-decoration: none;
    color: inherit;
}

.underline:hover,
.underline:focus,
.underline:active {
    text-decoration: none;
    border-bottom-style: solid;
    padding-bottom: 5px;
    color: inherit;
    transition: all 0.3s ease-out;
}
.underline::after{
    content: "";
    position: absolute;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    width: auto;
    margin: 20px;
    vertical-align: middle;
}

#contact{
    text-decoration: none; 
    color: inherit;
    border-style:solid;
    border-width: 2px;
    border-color: inherit;
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
}

#contact:hover{
    color:black;
    background-color: #ffffff;
}

.container{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 2vw;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

#rotate{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 8%;
    height: 8%; 
    cursor: pointer;
}

.rotated-image{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: all 1s;
}

.footer{
    display: block;
    margin-top: 70px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 1vw;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

#icons > img{
    margin: 10px 10px 10px 10px;
    height: 2%;
    width: 2%;
    
}